body {
    background-color:lightgrey
}

h1 {
    color: rgb(59, 0, 0);
    font-size: xxx-large;
}

#MyHobbies {
    color: rgb(59, 0, 0);
}

#MyExperience {
    color: rgb(59, 0, 0);
}

#Developer {
    color: rgb(59, 0, 0);    
}

#WorkExperience {
    color: rgb(59, 0, 0);    
}